#backgroundImg {
    margin: auto;
    width: 80%;
}

.contents {
    display: flex;
}

#myProfile {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 6px 6px #aaa;
    margin: 7.5% 0;
}

.contents .profile {
    background-color: #eee;
    position: fixed;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
}

.contents .profile > h2 {
    color: #333;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 80px;
    font-weight: bold;
    margin: 7.5% 0 0 0;
}

.contents .profile h3 {
    color: #333;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    text-align: middle;
}

/* ========================= Educations =============================== */

.profile .schools .one-school h4{
    color: #444;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    text-align: middle;
}

.profile .schools .one-school p{
    color: #555;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: middle;
    font-weight: 300;
}

.profile .schools .one-school .school-name {
    font-weight: bold;
}

/* ========================= profile-info Information =============================== */

.block {
    display: block;
}

.contents .profile .profile-info {
    display: inline-block;
    width: 80%;
    height: auto;
    background-color: #eee;
    margin: 0 0 7.5%;
    /* padding: 5% 5%; */
    box-sizing: border-box;
    /* border-top: solid #aaa; */
}

/* ========================= One profile-info Way =============================== */

.contents .profile .profile-info .all-contact-info-container {
    display: flex;
    justify-content: space-around;
}

.contents .profile .profile-info a {
    text-decoration: none;
    margin: 4% 0;
    width: 20%;
    transition: width 0.3s 0s ease;
}

.contents .profile .profile-info a:hover {
    width: 30%;
}

.contents .profile .profile-info a img{
    width: 100%;
}
/* ============================= Main Contents ================================== */

.contents .content-body {
    margin-left: 20%;
    background-color: white;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
}

.contents .content-body h2 {
    font-size: 46px;
    margin: 30px 0;
    font-weight: bold;
    color: #222;
}

.contents .content-body .wrap, .work-experience {
    margin: 2% 5%;
}

.contents .content-body .wrap p {
    margin: 18px 0;
    line-height: 27px;
}

.work-experience {
    position: relative;
    /* background-color: blue; */
}

.work-experiences-contents {
    margin: 10% 0;
    display: flex;
    /* background-color: blue; */
}

.work-experiences-contents .companys {
    width: 100%;
    display: inline-flex;
    /* background-color: blue; */
}

.work-experiences-contents figure {
    display: flex;
    /* background-color: blue; */
}

/* .companys .company-div {
    background-color: red;
    width: 100%;
} */

.companys .company {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}

.work-experiences-contents #ckmates-icon, #itri-icon {
    width: 100%;
    border: solid #aaa 2px;
    border-radius: 30px;
    padding: 5%;
    /* background-color: blue; */
}

.company-container {
    display: inline-flex;
    position: relative;
    width: 100%;
    /* background-color: blue; */
}

.company-container .date {
    display: inline;
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    text-align: center;
    /* background-color: blue; */
}

.company-container .description {
    position: absolute;
}

.company-container .chat-box {
    position: absolute;
    width: 100%;
    bottom: 110%;
    opacity: 0;
}

.hr-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}

/* .border-hr {
    width: 50%;
} */

.hr-div hr {
    width: 100%;
    color: #aaa;
    /* background-color: blue; */
}

.work-experience .description {
    line-height: 27px;
    text-align: center;
    border: solid #aaa;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #ccc;
    opacity: 0;
    transition: height 0.1s 0s ease-in-out, opacity 0.2s 0.1s ease-in-out, margin 0.2s 0.1s ease-in-out, padding 0.2s 0.1s ease-in-out;
    position: relative;
    height: 0;
    margin: 0 10%;
    padding: 0px 20px;
}

/* 設定當我碰觸到company-icon時，控制chat-box屬性 */
.work-experiences-contents:hover + .description{
    opacity: 1;
    margin: 0 10%;
    padding: 20px;
    height: 100%;
}

.ckmates-icon:hover ~ .itri-icon {
    background-color: blue;
}