#backgroundImg {
    margin: auto;
    width: 80%;
}

#myProfile {
    width: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #999;
}

.contents {
    display: flex;
}

.contents .profile > h2 {
    color: #333;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 80px;
    /* background-color: blue; */
}

.contents .profile {
    background-color: #ddd;
    position: fixed;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
}
.block {
    display: block;
}
.contents .profile .contact {
    display: inline-block;
    width: 80%;
    height: 60%;
    background-color: #ddd;
    margin: 15% 0;
    /* border-radius: 30px; */
    padding: 15% 5%;
    box-sizing: border-box;
    border-top: solid #aaa;
    /* box-shadow:inset 10px 10px 10px #999; */
}

.contents .profile .contact a {
    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 5% 5%;
}

.contents .profile .contact a img{
    width: 20%;
}

.contents .profile .contact-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents .profile .contact a p{
    margin-left: 10px;
    display: inline-block;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.contents .profile .contact a p:hover{
    color: #888;
}

.contents .content-body {
    margin-left: 20%;
    background-color: white;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
}

.contents .content-body h2 {
    font-size: 46px;
    margin: 30px 0;
    font-weight: bold;
    color: #222;
}

.contents .content-body .wrap {
    margin: 2% 5%;
}

.contents .content-body .wrap p {
    margin: 16px 0;
}