p, li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style:circle;
    padding-left: 20px;
    margin-left: 20px;
}

li {
    margin: 20px;
}

#backgroundImg {
    margin: auto;
    width: 80%;
}

.contents {
    display: flex;
}

#myProfile {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 6px 6px #aaa;
    margin: 7.5% 0;
}

.contents .profile {
    background-color: #eee;
    position: fixed;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
}

.contents .profile > h2 {
    color: #333;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 80px;
    font-weight: bold;
    margin: 7.5% 0 0 0;
}

.contents .profile h3 {
    color: #333;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    text-align: middle;
}

/* ========================= Educations =============================== */

.profile .schools .one-school h4{
    color: #444;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    text-align: middle;
}

.profile .schools .one-school p{
    color: #555;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: middle;
    font-weight: 300;
}

.profile .schools .one-school .school-name {
    font-weight: bold;
}

/* ========================= profile-info Information =============================== */

.block {
    display: block;
}

.contents .profile .profile-info {
    display: inline-block;
    width: 80%;
    height: auto;
    background-color: #eee;
    margin: 0 0 7.5%;
    box-sizing: border-box;
}

/* ========================= One profile-info Way =============================== */

.contents .profile .profile-info .all-contact-info-container {
    display: flex;
    justify-content: space-around;
}

.contents .profile .profile-info a {
    text-decoration: none;
    margin: 4% 0;
    width: 20%;
    transition: width 0.3s 0s ease;
}

.contents .profile .profile-info a:hover {
    width: 30%;
}

.contents .profile .profile-info a img{
    width: 100%;
}

/* ============================= Main Contents ================================== */

.contents .content-body {
    margin-left: 20%;
    background-color: white;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
}

.wrap h2 {
    font-size: 46px;
    margin: 30px 0;
    font-weight: bold;
    color: #222;
}

.wrap h3 {
    font-size: 32px;
    margin: 30px 0;
    font-weight: bold;
    color: #444;
}

.contents .content-body .wrap, #WorkExperience {
    margin: 2% 5%;
}

.contents .content-body .wrap p {
    margin: 18px 0;
    line-height: 27px;
}

#WorkExperience {
    position: relative;
}

.work-experiences-contents {
    margin: 10% 0;
    display: flex;
}

.work-experiences-contents .companys {
    width: 100%;
    display: inline-flex;
}

.work-experiences-contents figure {
    display: flex;
    width: 100%;
}

.companys .company {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.work-experiences-contents #ckmates-icon, #itri-icon {
    width: 100%;
    border: solid #888 2px;
    border-radius: 30px;
    padding: 5%;
    box-shadow: 0px 3px 3px #ccc;
}

.company-container {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.company-container .date {
    display: inline;
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.hr-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hr-div hr {
    width: 100%;
    color: #ccc;
    /* box-shadow: 0px 2px 2px #ccc; */
}

#WorkExperience .description {
    line-height: 27px;
    text-align: center;
    border: solid #aaa 0px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #ccc;
    background-color: #666;
    color: #fff;
    transition: height  0.2s 0s ease-in-out, 
                opacity 0.2s 0.2s ease-in-out, 
                border  0.2s 0.2s ease-in-out, 
                padding 0.2s 0.2s ease-in-out;
    position: relative;
    margin: 0 10%;
    opacity: 0;
    height: 0;
    padding: 0px 20px;
}

#WorkExperience .description p {
    opacity: 1;
}

#WorkExperience .key-word {
    font-weight: bold;
    color: #65cbfa;
}

#WorkExperience .important-sentence {
    font-weight: bold;
    color: #b1b9ff;
}

/* ========================== Skills =========================== */

#Skills .p-title {
    font-size: 22px;
    line-height: 33px;
    margin: 30px 0;
    font-weight: 700;
    color: #444;
}

#Skills li {
    font-size: 20px;
    line-height: 33px;
    margin: 30px 0;
    color: #555;
}

#Skills .li-title {
    font-weight: 700;
}

#Skills .english-container {
    display: flexbox;
}

.english-container p {
    display: inline-flex;
}

#Skills #toeic-certificate {
    width: 0%;
    display: block;
    margin: auto;
    box-shadow: 3px 3px 3px #999;
    transition: width 0.3s 0s ease-in-out; 
}

#Skills #view-toeic-cert-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#Skills #view-toeic-cert {
    display: inline-flex;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 10px;
    height: 20px;
    color: white;
    background-color: #aaa;
    transition: background-color 0.2s 0 ease;
}

#Skills #view-toeic-cert:hover {
    background-color: #666;
}

#Skills .progress-bar{
    display: block;
    flex-direction: column;
    width: 100%;
}

.progress-bar .a-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 10px 2%;
    border-radius: 30px;
    background-color: #eee;
    box-sizing: border-box;
    margin: 1% 0;
}

.a-skill .skill-progress {
    width: 90%;
    border-radius: 20px;
    padding: 5px 2%;
    height: 95%;
    margin: 1% 0;
    display: flex;
    justify-content: left;
    background-color: #ccc;
    box-sizing: border-box;
    position: relative;
}

#pytorch-progress, #numpy-progress {
    width: 85%;
}

#opencv-progress {
    width: 70%;
}

#aws-progress, #html-progress, #css-progress, #sklearn-progress, #pandas-progress {
    width: 50%;
}

#javascript-progress {
    width: 40%;
}

.a-skill .skill-icon {
    height: 100%;
    width: auto;
}

.a-skill .skill-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
}

.a-skill .skill-name {
    color: #333;
}

.skill-progress .percentage-container {
    position: absolute;
    height: 100%;
    right: -40px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-bar .skill-percentage {
    font-family: Arial, Helvetica, sans-serif;
}

.key-word-white-bkg {
    font-weight: bold;
    color: #ffae00;
}