.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 6px 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 6%;
    /* To prevent the elements in the content with any position attribute covering the header, move the header forward */
    z-index: 1;
}

.header .home-icon-container {
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
}

.header .home-icon img{
    display: inline-block;
    text-align: center;
    width: auto;
    height: 100%;
    border-radius: 5px;
    transition: opacity 0.3s 0s ease;
}


.header .home-icon img:hover{
    opacity: 0.5;
}

.header nav {
    /* 要加這行才會真的讓<nav>底下的文字對齊右邊 */
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 2%;
}

.header nav .nav-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header nav .nav-button-container .nav-word-container {
    display: flex;
    width: 100%;
}

.header nav a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: large;
    border-radius: 10px;
    transition: background-color 0.1s 0s ease;
}

.header nav a:hover {
    background-color: #666;
}